In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('time_series_covid19_confirmed_global.csv')
print(df.shape)
df.iloc[230:250, :]

(266, 259)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20,9/29/20,9/30/20,10/1/20,10/2/20
230,NaN,Sweden,60.128161,18.643501,0,0,0,0,0,0,...,89756,90289,90923,90923,90923,90923,92466,92863,93615,94283
231,NaN,Switzerland,46.818200,8.227500,0,0,0,0,0,0,...,51101,51492,51864,51864,51864,52646,52871,53282,53832,54384
232,NaN,Syria,34.802075,38.996815,0,0,0,0,0,0,...,3924,3966,4001,4038,4072,4102,4148,4200,4247,4289
233,NaN,Taiwan*,23.700000,121.000000,1,1,3,3,4,5,...,509,509,510,510,510,513,513,514,515,517
234,NaN,Tajikistan,38.861000,71.276100,0,0,0,0,0,0,...,9475,9520,9562,9605,9646,9685,9726,9769,9811,9852
235,NaN,Tanzania,-6.369028,34.888822,0,0,0,0,0,0,...,509,509,509,509,509,509,509,509,509,509
236,NaN,Thailand,15.870032,100.992541,2,3,5,7,8,8,...,3516,3519,3522,3523,3523,3559,3564,3569,3575,3583
237,NaN,Timor-Leste,-8.874217,125.727539,0,0,0,0,0,0,...,27,27,27,27,27,27,28,28,28,28
238,NaN,Togo,8.619500,0.824800,0,0,0,0,0,0,...,1701,1707,1722,1736,1743,1749,1759,1784,1809,1818
239,NaN,Trinidad and Tobago,10.691800,-61.222500,0,0,0,0,0,0,...,4136,4235,4277,4312,4362,4386,4463,4531,4570,4629
240,NaN,Tunisia,33.886917,9.537499,0,0,0,0,0,0,...,12479,13305,14392,14392,16114,16114,17405,18413,18413,19721
241,NaN,Turkey,38.963700,35.243300,0,0,0,0,0,0,...,308069,309790,311455,312966,314433,315845,317272,318663,320070,321512
242,NaN,US,40.000000,-100.000000,1,1,2,2,5,5,...,6940214,6984346,7034931,7079803,7116225,7149537,7191637,7233042,7277759,7332200
243,NaN,Uganda,1.373333,32.290275,0,0,0,0,0,0,...,6879,7064,7218,7364,7530,7777,8017,8129,8287,8491
244,NaN,Ukraine,48.379400,31.165600,0,0,0,0,0,0,...,189488,192966,196631,200566,203799,206579,210309,214446,218625,223376
245,NaN,United Arab Emirates,23.424076,53.847818,0,0,0,0,0,0,...,87530,88532,89540,90618,91469,92095,93090,94190,95348,96529
246,Anguilla,United Kingdom,18.220600,-63.068600,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
247,Bermuda,United Kingdom,32.307800,-64.750500,0,0,0,0,0,0,...,181,181,181,181,181,181,181,181,181,181
248,British Virgin Islands,United Kingdom,18.420700,-64.640000,0,0,0,0,0,0,...,69,71,71,71,71,71,71,71,71,71
249,Cayman Islands,United Kingdom,19.313300,-81.254600,0,0,0,0,0,0,...,210,210,210,210,210,211,211,211,211,213