In [3]:
import pandas as pd
mor_df = pd.read_csv('Mortality_rates.csv')
mor_df.head()

,Unnamed: 0,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20,9/29/20,9/30/20,10/1/20,10/2/20,Country/Region
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.704366,3.702853,3.707389,3.704081,3.708613,3.714271,3.712947,3.711340,3.710868,Afghanistan
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.863555,2.859333,2.851061,2.843352,2.837727,2.840657,2.835373,2.810372,2.785535,Albania
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.367010,3.363282,3.360569,3.356375,3.356570,3.360069,3.368911,3.368156,3.373387,Algeria
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.023388,2.886710,2.886710,2.886710,2.695829,2.695829,2.585366,2.585366,2.511848,Andorra
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.620112,3.638344,3.660103,3.688003,3.668960,3.649337,3.680611,3.617521,3.626943,Angola

In [8]:
mor_df.columns[2:-1]

Index(['1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20',
       '1/29/20', '1/30/20', '1/31/20', '2/1/20',
       ...
       '9/23/20', '9/24/20', '9/25/20', '9/26/20', '9/27/20', '9/28/20',
       '9/29/20', '9/30/20', '10/1/20', '10/2/20'],
      dtype='object', length=254)

In [13]:
mor_df.loc[0].values

array([0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.5, 2.5,
       1.351351351351351, 2.380952380952381, 4.25531914893617,
       3.636363636363636, 3.636363636363636, 3.333333333333333,
       2.3529411764705883, 2.2988505747126435, 1.6877637130801686,
       2.1978021978021984, 2.1352313167259793, 2.3411371237458187,
       2.005730659025788, 2.9972752043596733, 3.309692671394799,
       3.153153153153153, 3.0991735537190084, 2.8790786948176583,
       3.2432432432432434, 2.9654036243822075, 3.1578947368421053,
       3.221288515406162, 3.1887755102040822, 3.571428571428571,
       3.3112582781456954, 3.2154340836012865, 3.313253012048193,
       3.5087719298245608, 3.296703296703297, 3.4013605442176877,
       3.2838154808444098, 3.1828275351591406, 3.2125768967874238,
       3.265839320705421, 3.347034644744568, 3.1728665207877462,
       3.094378545642084, 2.9479502533394752, 2.9122055674518204,
       2.916160388821385, 3.1434911242603554, 3.1098825155494123,
       2.9466501240694787, 3.0660377358490565, 2.9750210496772382,
       2.8851244044467967, 2.851475328539549, 2.7260336210813265,
       2.6029443140601667, 2.558936127342333, 2.525832376578645,
       2.411775137435716, 2.5276722286469515, 2.6241799437675724,
       2.5360144057623053, 2.446266968325792, 2.325885273748857,
       2.295887047268262, 2.224527431996312, 2.2243923611111107,
       2.1604320864172832, 2.0601020601020603, 1.9600823413586328,
       1.859521595807624, 1.8224149004495829, 1.8027002147898128,
       1.8010103228640455, 1.7142857142857144, 1.6902334758303188,
       1.6825396825396828, 1.6354715609667454, 1.7026698326287135,
       1.6616816218012629, 1.6289735884864778, 1.6725487187356145,
       1.7549896765313144, 1.7641153129033798, 1.7894589682650637,
       1.8291030620540147, 1.8610747051114025, 1.8941646139471675,
       1.8712140071363368, 1.901800856012275, 1.8725271281388332,
       1.8662105663245916, 1.8754186202277292, 1.9831468836263255,
       1.965707726522706, 2.0018294399099354, 2.0150521971352267,
       2.0509654628391116, 2.096265391268953, 2.1558704453441297,
       2.236951118475559, 2.242947686447079, 2.2961850013065064,
       2.328284948493557, 2.34650105640566, 2.3669765523368342,
       2.4312099509988694, 2.5201424020985566, 2.533721074124489,
       2.5281586679725763, 2.622075202573518, 2.7056342271768603,
       2.7558111670261205, 2.7862118235399183, 2.822342809956353,
       2.83967947593145, 2.8923936448815684, 2.9317000957882215,
       2.9371644173559712, 3.016695451928612, 3.1262502143224555,
       3.1736526946107784, 3.255840358795311, 3.2973570153820004,
       3.3291050035236083, 3.3355852052018244, 3.3300575600168467,
       3.3308142301340724, 3.3706301491872632, 3.4045746366137686,
       3.463203463203463, 3.482036673396576, 3.499434685492099,
       3.492080950285965, 3.4849606536700386, 3.4781894805976683,
       3.468302658486708, 3.494960501225824, 3.4976845546172703,
       3.505048031131793, 3.5017127943015605, 3.5135355290667682,
       3.5179965307892456, 3.5310009455626097, 3.5407783235278236,
       3.5407783235278236, 3.5735428663688715, 3.606214279964582,
       3.6256526978176464, 3.6420478837109873, 3.641366781544709,
       3.648371548028015, 3.657303968507288, 3.65701215457858,
       3.65701215457858, 3.65701215457858, 3.658601014370245,
       3.6549321792368183, 3.649250388638579, 3.6500960551593455,
       3.650076207494613, 3.6695560809035994, 3.6759111064466192,
       3.674368590836372, 3.675930781331935, 3.67564166426343,
       3.673811645091976, 3.673522861260317, 3.681013718714001,
       3.684334387992574, 3.6800041788549938, 3.678467000835422,
       3.676547333263752, 3.677274858065524, 3.675897542474152,
       3.681204569055036, 3.6841012868410132, 3.6814269418230836,
       3.678184738123608, 3.6748531352708262, 3.667734270069222,
       3.6753327143299286, 3.673837433981708, 3.6957920473555537,
       3.6941757563284634, 3.69570249209166, 3.692283974408387,
       3.6907079192705674, 3.6955520294825206, 3.6960302844280735,
       3.6939583599437986, 3.704365585907583, 3.7028530597662432,
       3.7073892631149215, 3.7040813725240267, 3.708612647516121,
       3.7142711570795335, 3.7129469287969847, 3.7113402061855667,
       3.7108679053194202, 'Afghanistan'], dtype=object)

In [14]:
mor_df.set_index("Country/Region", inplace=True)

In [15]:
mor_df.head()

,Unnamed: 0,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20,9/29/20,9/30/20,10/1/20,10/2/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.693958,3.704366,3.702853,3.707389,3.704081,3.708613,3.714271,3.712947,3.711340,3.710868
Albania,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.893564,2.863555,2.859333,2.851061,2.843352,2.837727,2.840657,2.835373,2.810372,2.785535
Algeria,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.369048,3.367010,3.363282,3.360569,3.356375,3.356570,3.360069,3.368911,3.368156,3.373387
Andorra,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.023388,3.023388,2.886710,2.886710,2.886710,2.695829,2.695829,2.585366,2.585366,2.511848
Angola,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.644281,3.620112,3.638344,3.660103,3.688003,3.668960,3.649337,3.680611,3.617521,3.626943

In [17]:
mor_df.loc['Albania']

Unnamed: 0    1.000000
1/22/20       0.000000
1/23/20       0.000000
1/24/20       0.000000
1/25/20       0.000000
                ...
9/28/20       2.837727
9/29/20       2.840657
9/30/20       2.835373
10/1/20       2.810372
10/2/20       2.785535
Name: Albania, Length: 256, dtype: float64

In [20]:
list(mor_df.index)

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Diamond Princess',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'MS Zaandam',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan*',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'US',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'West Bank and Gaza',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [21]:
rec_df = pd.read_csv("Rec_rates.csv")
rec_df.head()

,Unnamed: 0,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20,9/29/20,9/30/20,10/1/20,10/2/20
0,0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,83.305658,83.275466,83.241464,83.269545,83.213093,83.200367,83.420798,83.500560,83.599338,83.588699
1,1,Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,55.830140,56.025075,56.029130,56.238121,55.788521,56.971100,57.197810,57.491391,58.503549,59.735052
2,2,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,70.293651,70.274224,70.248650,70.228228,70.221474,70.220452,70.205186,70.199884,70.191526,70.177638
3,3,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,68.625214,68.625214,68.790850,68.790850,68.790850,64.343845,64.343845,69.853659,69.853659,72.985782
4,4,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,33.761174,33.586592,33.856209,35.081336,36.180585,37.794455,37.370031,39.038616,40.711772,42.506237

In [23]:
rec_df.set_index("Country/Region", inplace=True)

In [24]:
rec_df.head()

,Unnamed: 0,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20,9/29/20,9/30/20,10/1/20,10/2/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,83.305658,83.275466,83.241464,83.269545,83.213093,83.200367,83.420798,83.500560,83.599338,83.588699
Albania,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,55.830140,56.025075,56.029130,56.238121,55.788521,56.971100,57.197810,57.491391,58.503549,59.735052
Algeria,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,70.293651,70.274224,70.248650,70.228228,70.221474,70.220452,70.205186,70.199884,70.191526,70.177638
Andorra,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,68.625214,68.625214,68.790850,68.790850,68.790850,64.343845,64.343845,69.853659,69.853659,72.985782
Angola,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,33.761174,33.586592,33.856209,35.081336,36.180585,37.794455,37.370031,39.038616,40.711772,42.506237